<div [ngStyle]="bodyBgStyles" class="bodyBg">
  <div class="Head">

    <div class="logoName">
      <span>
        <img src="../../assets/Icon.png">
      </span>
      <span class="PageName">PicturePalette</span>
    </div>

    <div class="NavBtns">
      <span><i class="fa fa-github" aria-hidden="true" style="font-size:22px;color:white;"></i></span>
      <span><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:22px;color:white;"></i></span>
      <span><i class="fa fa-paper-plane" aria-hidden="true" style="font-size:20px;color:white;"></i></span>
    </div>


  </div>


  <div class="OneLineInfo">
    👋 Create vibrant CSS backgrounds with custom color palettes using our interactive input box
  </div>

  <div class="Sometext">
    Enter Hex Values
  </div>
  <div class="ColorTextPortion">
    <span>
      <input type="text" value={{colorBox1}} [style]="colortxtStyles1" (input)="changeColor(1, $event)"
        [style.backgroundColor]="colorBox1">
    </span>
    <span>
      <input type="text" value={{colorBox2}} [style]="colortxtStyles2" (input)="changeColor(2, $event)"
        [style.backgroundColor]="colorBox2">
    </span>
    <span>
      <input type="text" value={{colorBox3}} [style]="colortxtStyles3" (input)="changeColor(3, $event)"
        [style.backgroundColor]="colorBox3">
    </span>
  </div>

  <div class="Sometext">
    Or use color picker
  </div>

  <div class="ColorTextPortion">
    <span>
      <input type="color" value={{colorBox1}} [style]="colortxtStyles1" [style]="colortxtStyles1"
        (input)="changeColor(1, $event)" [style.backgroundColor]="colorBox1">
    </span>
    <span>
      <input type="color" value={{colorBox2}} [style]="colortxtStyles2" (input)="changeColor(2, $event)"
        [style.backgroundColor]="colorBox2">
    </span>
    <span>
      <input type="color" value={{colorBox3}} [style]="colortxtStyles3" (input)="changeColor(3, $event)"
        [style.backgroundColor]="colorBox3">
    </span>
  </div>


  <div class="generate">
    <button (click)="generateBackground()">GENERATE<img src="../../assets/Icon.png"></button>
  </div>

  <div class="result">
    background-image: {{Background}};<button (click)="copyText()">Copy<i class="fa fa-files-o" aria-hidden="true" style="margin-left:4px;font-size:16px;color:white;"></i></button>
  </div>

  <div class="OneLineInfo">
    ©Shafi Shaik 🌊
  </div>
</div>

