<div class="bodyBg">
<div class="Head">
  
  <div class="logoName">
  <span>
    <img src="../../assets/Icon.png">
  </span>
  <span class="PageName">PicturePalette</span>
</div>

<div class="NavBtns">
  <span><i class="fa fa-github" aria-hidden="true" style="font-size:28px;color:white;"></i></span>
  <span><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:28px;color:white;"></i></span>
  <span><i class="fa fa-paper-plane" aria-hidden="true" style="font-size:26px;color:white;"></i></span>
</div>


</div>


<div class="OneLineInfo">
  Create vibrant CSS backgrounds with custom color palettes using our interactive input box
</div>

<div class="Sometext">
  Enter Color
</div>
<div class="ColorTextPortion">
  <span>
    <input type="text" placeholder="#3D0434" [style]="colortxtStyles">
  </span>
  <span>
    <input type="text" placeholder="#061532" [style]="colortxtStyles">
  </span>
  <span>
    <input type="text" placeholder="#523500" [style]="colortxtStyles">
  </span>
</div>
<div class="generate">
  
  <button>GENERATE<img src="../../assets/Icon.png"></button>
</div>
</div>